$headerBackground: url(../img/header_background_v1.jpg);
$fonts: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$navBorderColor: #607d8b;
$headerFontsColor: #eeeeee;
$topButtonBackground: #01acac;
$articleBackground: #efefef;
$mainBackground: #ffffff;
$mainTextColor: #000000;
$artecleHeaderColor: #0097a7;
$postDescriptionColor: #ea2626;
$postDescriptionBorder: #869ba6;
$fontSize: 15px/24px;