$headerBackground: url(../img/header_background_v2.jpg);
$fonts: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$navBorderColor: #b9c9d4;
$headerFontsColor: #ff5722;
$topButtonBackground: #0401ac;
$articleBackground: #ffffff;
$mainBackground: #efefef;
$mainTextColor: #757576;
$artecleHeaderColor: #7d85a0;
$postDescriptionColor: #bdbdbd;
$postDescriptionBorder: #e2e8ea;
$fontSize: 18px/26px;
