* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card, .post {
  width: 700px;
  margin: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.avatar {
  width: 100%;
}

.small-info {
  display: flex;
  justify-content: space-between;
}
.username {
  width: 100%;
  margin: 10px 15px;
}
.username a {
  color: #000000;
  font-size: 22px;
  text-decoration: none;
  border-bottom: 1px solid #429dd1;
}

.actions {
  text-align: right;
  width: 100%;
}
.button {
  color: #eee;
  cursor: pointer;
  padding: 8px 10px;
  margin: 5px 10px 0 0;
  border: none;
}
.edit-btn {
  background: #429dd1;
}
.delete-btn {
  background: #d14242;
}

.main {
  display: flex;
  justify-content: space-between;
}

.address {
  padding: 10px;
  margin: 5px 15px;
  width: 100%;
}
.address div, .footer p {
  padding: 5px;
}

.footer {
  text-align: right;
  align-self: flex-end;
  width: 100%;
  padding: 15px;
}

/* post styles */
.post {
  width: 100%;
  max-width: 700px;
}
.post-head {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #429dd1;
}
.post-head p, .com-name {
  font-size: 20px;
  font-weight: 500;
}
.post-main, .com-name {
  font-size: 18px;
}
.post-main, .comment, .com-body {
  padding: 5px 10px;
}

.comments-container {
  border-top: 1px solid #1a1c1d;
  margin-top: 10px;
}

.edit-plate {
  border-top: 1px solid #429dd1;
}
.edit-plate form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.edit-plate form label {
  padding: 5px;
}
.edit-inp {
  font-size: 16px;
  padding: 3px;
  margin-left: 15px;
  border: none;
  border-bottom: 1px solid #429dd1;
}
.save-edit-changes-btn {
  padding: 10px;
  background: #429dd1;
}

@keyframes spinner {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
       transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spinner {
  height: 100vh;
  opacity: 1;
  position: relative;
  transition: opacity linear 0.1s;
}

.spinner::before {
  animation: 2s linear infinite spinner;
  border: solid 3px #eee;
  border-bottom-color: #EF6565;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
  width: 40px;
  will-change: transform;
}

.hide {
  display: none;
}